.RemoveCategoryPanel{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 300;
}
.RemoveCategoryPanel-wrapper{
    background-color: #fff;
    border-radius: 20px;
    width: 500px;
    padding: 40px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.RemoveCategoryPanel-wrapper p {
    font-size: 25px;
    font-weight: 500;
}
.RemoveCategoryPanel-wrapper form{
    margin: 40px 0;
}