.AddCategoryPanel{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

}
.AddCategoryPanel-inner{
    background-color: #fff;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
    position: relative;
}
.AddCategoryPanel-inner form{
    margin: 40px 0;
    display: grid;
    grid-template-columns: .3fr 1fr;
    font-weight: 500;
    font-size: 20px;
}
.AddCategoryPanel-inner p{
    font-size: 25px;
    font-weight: 500;
}
@media (max-width: 768px){
    .AddCategoryPanel-inner p{
        font-size: 16px;
        font-weight: 500;
    }
    .AddCategoryPanel-inner form{
        margin: 40px 0;
        display: grid;
        grid-template-columns: .3fr 1fr;
        font-weight: 500;
        font-size: 14px;
    }
    .AddCategoryPanel-inner{
        background-color: #fff;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
        border-radius: 20px;
        position: relative;
        font-size: 15px;
    }
}