.admin-page-inner{
    background: url('../assets/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.right{
    position: relative;
}
.one{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.admin-page-inner__wrapper{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

@media (max-width: 1025px){
    .right{
        display: flex;
    }
    .one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .admin-page-inner__wrapper{
        flex-direction: column;
        height: 100%;
    }
}