
.listed{
    text-align: center;
}
tbody{
    font-size: 18px;
}
tbody tr{
    cursor: pointer;
    transition: .2s;
    
}

tbody tr.active{
    background-color: rgba(252, 218, 1, 0.544);
    color: #000;
}
td{
    border-bottom: 1px solid #000 ;
}
.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: none; */
}
.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 1200px){
    tbody{
        font-size: 16px;
    }
}
@media (max-width: 768px){
    tbody{
        font-size: 11px;
    }
}