.addProdWindow{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    overflow: hidden;
}
.addProdWindow-inner{
    width: 600px;
    /* height: 500px; */
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.35); 
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.35); 
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.35);
}
.addProdWindow-inner p{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}

.close{
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 10px;
    color: #ba4141;
    font-size: 25px;
    transition: .2s;
}
.close:hover{
    transform: scale(1.2,1.2);
}
.addProdWindow-inner form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.addProdWindow-inner form .prod-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
} 
.addProdWindow-inner form .prod-price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
}
.addProdWindow-inner form .prod-file{
    display: grid;
    /* border: 1px solid #000; */
    grid-template-columns:1fr  1fr;
    font-size: 18px; 
    text-align: left;
    font-weight: 500;
    margin-bottom: 30px;
    /* border-radius: 20px; */
}
input{
    width: 300px;
    background: linear-gradient(113.43deg, #FFC700 21.57%, #FF9900 100%);
    cursor: pointer;
    color: #000;
    -webkit-appearance: none;
}
input[type=file]{
    background: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
  }
.input-file {
   margin-top: 5px;
}
.input-price{
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #d69292;
}
.input-name{
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #d69292;
}
.wrap-select-arrow{
    display: grid;
    grid-template-columns:1fr 1fr;
    text-align: left;
}
select {
    width: 300px;
    height: 40px;
    padding: 6px 45px 6px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    color: #000;
    font-weight: 500;
    background: linear-gradient(113.43deg, #FFC700 21.57%, #FF9900 100%);
    text-indent: 0.01px;
    text-overflow: "";
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* Hidden select default on ie */
  select::-ms-expand{
    display: none;
  }
  
  /* Style for wrap select arrow */
  .wrap-select-arrow {
      position: relative;
  }
  
  /* Style for arrow */
  .select-arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 15px;
    pointer-events: none;
  }
  
  /* Arrow down */
  .arrow-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid #4A4A4A;
  }
  
  /* Arrow up */
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #4A4A4A;
    margin-bottom: 3px;
  }
input[type=file]{
    width: 300px;
    cursor: pointer;
}
.create-btn {
  background-color: #4db955;
  border: none;
  width: 150px;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.27); 
-moz-box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.27); 
box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.27);
cursor: pointer;
}
.reset-btn {
    margin-left: 10px;
    background-color: #ba4141;
    border: none;
    width: 150px;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.27); 
-moz-box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.27); 
box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.27);
cursor: pointer;
  }